<% content_for :page_title do %>
   <%= "Banners" %> <i class="icon-arrow-right"></i> <%= "Edit banner"  %> "<%= @banner.name %>"
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to "Back to all banners", spree.admin_banners_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @banner %>


<%= form_for [:admin, @banner] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
